<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GEN" providerName="System.Data.SqlClient" connectionString="server=(local)\SQL2008;database=CRM_2.1;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="MODOAUT" value="2" />
    <add key="ModoEnvioCorreo" value="SYNC"/>
  </appSettings>
</configuration>