<?xml version="1.0"?>
<configuration>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ingreso.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="GEN" providerName="System.Data.SqlClient" connectionString="server=DESKTOP-0FF5AKT;database=NUT;uid=nut;pwd=nut"/>
  <!--<add name="GEN" providerName="System.Data.SqlClient" connectionString="server=DESKTOP-0FF5AKT;database=NUT;uid=nut;pwd=nut"/>-->
  </connectionStrings>
  <appSettings>
    <add key="version" value="2_0"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.1" maxRequestLength="102400"/>
    <compilation debug="true" targetFramework="4.7">
      <buildProviders>
        <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".NUT" defaultUrl="inicio" loginUrl="ingreso" slidingExpiration="true" timeout="600"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <urlMappings enabled="true">
      <add url="~/ingreso" mappedUrl="~/ingreso.aspx"/>
    </urlMappings>
    <pages clientIDMode="Static" enableEventValidation="false" validateRequest="false"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <add verb="GET" path="scripts/*/*.js" type="NUT.WEB.ArchivosVersionados"/>
      <add verb="GET" path="css/*.css" type="NUT.WEB.ArchivosVersionados"/>
    </httpHandlers>
    <globalization culture="es-MX" uiCulture="es-MX"/>
    <customErrors mode="Off"/>
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424"/>-->
    <sessionState timeout="600"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="inicio"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="archivosJsVersionados-Integrated" verb="GET" path="scripts/*/*.js" type="NUT.WEB.ArchivosVersionados" preCondition="integratedMode"/>
      <add name="archivosCssVersionados-Integrated" verb="GET" path="css/*.css" type="NUT.WEB.ArchivosVersionados" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>