<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="GEN" providerName="System.Data.SqlClient" connectionString="server=(local)\SQL2008r2;database=NUT;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="MODOAUT" value="2"/>
    <add key="ModoEnvioCorreo" value="SYNC"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
